* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
}

h1 {
  padding-bottom: 20px;
}

#button-style {
  padding-top: 15px;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}


.list {
  display: flex;
  flex-direction: column;
}

#filter {
  padding-bottom: 20px;
  padding-top: 20px;
}

.item {
  padding-bottom: 15px;
} 