
body {
  font-family: 'Roboto', sans-serif;
  width: 98%;
}

h1 {
  padding-bottom: 20px;
}

div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bookmark-form {
}

option {
}

#filter {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-form {
  padding-bottom: 25px;
  outline: auto;
  width: 60%;
}

#button-style {
  padding-top: 15px;
}

.hidden {
  display: none;
}

.item {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
} 



@media all and (min-width: 600px) {


} 